<div style="padding: 2px;">
	
	<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3>Attenzione</h3>
        </div>
        <div class="modal-body">
            {{body}}
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">
				<i class="glyphicon glyphicon-ok"></i>
				OK
			</button>
            <button class="btn btn-warning" ng-click="cancel()">
				<i class="glyphicon glyphicon-ban-circle"></i>
				Annulla
			</button>
        </div>
    </script>

	<div class="panel panel-primary" style="padding: 2px;">
		<div class="panel-heading">
			<a href="#/esami/new" class="btn btn-success" ><i class="glyphicon glyphicon-plus"></i> Carica nuovo esame</a>
		</div>
	 	<div class="panel-body">
	 		<div class="table-responsive">
		 	  	<table class="table table-hover table-striped table-bordered" ng-table="tableParams">
			    	<tr ng-repeat="esame in $data | filter:query | filter:selectedLanguage">
				      	<td data-title="'Data'" sortable="'data'" class="text-center">{{esame.data_esame}}</td>
				      	<td data-title="'Paziente'" sortable="'paziente'">
				      		<a ng-href="#pazienti/{{esame.paziente_id}}">{{esame.paziente}}</a>
				      	</td>
				      	<td data-title="'Descrizione'" sortable="'descrizione'">{{esame.descrizione}}</td>
				      	<td data-title="'Scannerizzazione'" sortable="'img'">{{esame.img}}</td>
				      	<td data-title="'Documento'" sortable="'documento'">{{esame.documento}}</td>
				      	<td data-title="''" class="text-center">
				      		<button type="button" class="btn btn-primary" ng-click="dettaglio(esame.id)"><i class="glyphicon glyphicon-info-sign"></i> Dettagli</button>
				      		<button type="button" class="btn btn-danger" ng-click="cancella(esame.id)"><i class="glyphicon glyphicon-trash"></i> Cancella</button>
				      	</td>
			    	</tr>
		      	</table>
	      	</div>
	    </div>
	    <div class="panel-footer" align="center">
	    	<a class="btn btn-warning" ng-href="esami.csv" >
	    		<i class="glyphicon glyphicon-export"></i> CSV
	    	</a>
	    	<a class="btn btn-success" ng-href="esami.xls" >
	    		<i class="glyphicon glyphicon-export"></i> Excel
	    	</a>
	    	<a class="btn btn-danger" ng-href="esami.pdf" >
	    		<i class="glyphicon glyphicon-export"></i> PDF
	    	</a>
	    </div>
	</div>
</div>