<div style="padding: 2px;">

	<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3>Attenzione</h3>
        </div>
        <div class="modal-body">
            {{body}}
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">
				<i class="glyphicon glyphicon-ok"></i>
				OK
			</button>
            <button class="btn btn-warning" ng-click="cancel()">
				<i class="glyphicon glyphicon-ban-circle"></i>
				Annulla
			</button>
        </div>
    </script>

	<div class="panel panel-primary" style="padding: 2px;">
		<div class="panel-heading" ng-show="farmaco.id!=null">
			<h5>Farmaco: <b>{{farmaco.descrizione}}</b></h5> 
		</div>		
		<div class="panel-heading" ng-show="farmaco.id==null">
			<h5>Nuovo farmaco:</h5> 
		</div>		
		<div class="panel-body">
			<alert ng-show="alertOK!=''" type="success" close="alertOK=''" >{{alertOK}}</alert>		
			<alert ng-show="alertKO!=''" type="danger" close="alertKO=''" >{{alertKO}}</alert>		
			<form class="form-horizontal" role="form" name="farmacoForm" novalidate>
				<div ng-controller="AccordionCtrl">
					<accordion close-others="false">
					  	<accordion-group heading="Info" is-open="isOpenDatiFarmaco">
					      	<div class="form-group">
							   	<label for="descrizione" class="col-md-2 control-label">Descrizione</label>
							   	<div class="col-md-4">
							    	<input type="text" name="descrizione" id="descrizione" ng-model="farmaco.descrizione" class="form-control"  required/>
							    </div>
						    </div>
					      	<div class="form-group">
							   	<label for="quantita_per_pezzo" class="col-md-2 control-label">Quantit&agrave; per pezzo</label>
							   	<div class="col-md-4">
							    	<input type="number" name="quantita_per_pezzo" id="quantita_per_pezzo" ng-model="farmaco.quantita_per_pezzo" class="form-control" required/>
							    </div>
						    </div><br/>
						    <div class="row">
						    	<div class="col-md-8">
						     		<a class="btn btn-primary" href="#/farmaci">
						     			<i class="glyphicon glyphicon-arrow-left"></i>
						     			Indietro
						     		</a>
						     		<button class="btn btn-success" type="submit" ng-click="save()" ng-disabled="farmacoForm.descrizione.$invalid || farmacoForm.quantita_per_pezzo.$invalid">
						     			<i class="glyphicon glyphicon-floppy-disk"></i>
						     			Salva
						     		</button>
						     		<button class="btn btn-danger" ng-show="farmaco.id!=null" ng-click="open()" >
						     			<i class="glyphicon glyphicon-trash"></i>
						     			Cancella
						     		</button>
						     	</div>	
						    </div>
						</accordion-group>
						<accordion-group heading="Pazienti somministrati" is-open="isOpenScadenze" ng-show="farmaco.id!=null">
							<div class="table-responsive">
						 	  	<table class="table table-hover table-striped table-bordered" ng-table="tableParams">
							    	<tr ng-repeat="scadenza in $data | filter:query">
								      	<td data-title="'Paziente'" sortable="'paziente'">
								      		<a ng-href="#pazienti/{{scadenza.paziente_id}}">{{scadenza.paziente}}</a>
								      	</td>
								      	<td data-title="'Giorni rimantenti'" sortable="'giorni_rimanenti'">
								      		<span ng-show="scadenza.giorni_rimanenti>0">
								      			{{scadenza.giorni_rimanenti}} giorni rimanenti
								      		</span>
								      		<span ng-show="scadenza.giorni_rimanenti<=0">
								      			nessun giorno rimanente
								      		</span>
								      	</td>
								      	<td data-title="'Stato'">
								      		<span ng-show="scadenza.giorni_rimanenti>numeroGiorni" class="label label-primary">
								      			OK
								      		</span>
								      		<span ng-show="scadenza.giorni_rimanenti>0 && scadenza.giorni_rimanenti<=numeroGiorni" class="label label-warning">
								      			IN SCADENZA
								      		</span>
								      		<span ng-show="scadenza.giorni_rimanenti<=0" class="label label-danger">
								      			SCADUTE
								      		</span>
								      	</td>
							    	</tr>
						      	</table>
					      	</div>
					      	<div class="panel-footer" align="center">
						    	<a class="btn btn-warning" ng-href="reports/byfarmaco/{{farmaco.id}}/scadenze.csv" >
						    		<i class="glyphicon glyphicon-export"></i> CSV
						    	</a>
						    	<a class="btn btn-success" ng-href="reports/byfarmaco/{{farmaco.id}}/scadenze.xls" >
						    		<i class="glyphicon glyphicon-export"></i> Excel
						    	</a>
						    	<a class="btn btn-danger" ng-href="reports/byfarmaco/{{farmaco.id}}/scadenze.pdf" >
						    		<i class="glyphicon glyphicon-export"></i> PDF
						    	</a>
						    </div>
						</accordion-group>  
						<accordion-group heading="Somministrazioni Inserite" is-open="isOpenSomministrazioni" ng-show="farmaco.id!=null">
							<div class="table-responsive">
						 	  	<table class="table table-hover table-striped table-bordered" ng-table="tableParams1">
							    	<tr ng-repeat="somministrazione in $data | filter:query">
								      	<td data-title="'Data Inserimento'" sortable="'data_inserimento'" class="text-center">{{somministrazione.data_inserimento_string}}</td>
								      	<td data-title="'Data Inizio Uso'" sortable="'data_inizio'" class="text-center">{{somministrazione.data_inizio_string}}</td>
								      	<td data-title="'Paziente'" sortable="'paziente'">
								      		<a ng-href="#pazienti/{{somministrazione.paziente_id}}">{{somministrazione.paziente}}</a>
								      	</td>
								      	<td data-title="'Quantit&agrave; giornaliera'" sortable="'quantita'" class="text-right">{{somministrazione.quantita}}</td>
								      	<td data-title="''" class="text-center">
								      		<button type="button" class="btn btn-danger" ng-click="cancella(somministrazione.id)"><i class="glyphicon glyphicon-trash"></i> Cancella</button>
								      	</td>
								    </tr>
						      	</table>
					      	</div>
					      	<div class="panel-footer" align="center">
						    	<a class="btn btn-warning" ng-href="somministrazioni/{{farmaco.id}}/somministrazionibyfarmaco.csv" >
						    		<i class="glyphicon glyphicon-export"></i> CSV
						    	</a>
						    	<a class="btn btn-success" ng-href="somministrazioni/{{farmaco.id}}/somministrazionibyfarmaco.xls" >
						    		<i class="glyphicon glyphicon-export"></i> Excel
						    	</a>
						    	<a class="btn btn-danger" ng-href="somministrazioni/{{farmaco.id}}/somministrazionibyfarmaco.pdf" >
						    		<i class="glyphicon glyphicon-export"></i> PDF
						    	</a>
						    </div>
						</accordion-group>  
					</accordion>
				</div>
			</form>	
		</div>
	</div>
</div>
	
	