<div style="padding: 2px;">

	<div class="panel panel-primary" style="padding: 2px;">
		<div class="panel-heading">
			<i class="glyphicon glyphicon-cog"></i> Impostazioni 
		</div>		
		<div class="panel-body">
			<alert ng-show="alertOK!=''" type="success" close="alertOK=''" >{{alertOK}}</alert>		
			<alert ng-show="alertKO!=''" type="danger" close="alertKO=''" >{{alertKO}}</alert>		
			<form class="form-horizontal" role="form" name="impostazioniForm" novalidate>
				
			      	<div class="form-group">
					   	<label for="emailScadenze" class="col-md-4 control-label">Emails notifiche:</label>
					   	<div class="col-md-7">
					    	<input type="text" name="emailScadenze" id="emailScadenze" ng-model="emailScadenze" class="form-control" required/>
					    </div>
				    </div>
			      	<div class="form-group">
					   	<label for="numeroGiorni" class="col-md-4 control-label">Numero di giorni di preavviso farmaci in scadenza:</label>
					   	<div class="col-md-1">
					    	<input type="number" name="numeroGiorni" id="numeroGiorni" ng-model="numeroGiorni" class="form-control" max="99" required/>
					    </div>
				    </div>
			      	<div class="form-group">
					   	<label for="numeroGiorniCompleanno" class="col-md-4 control-label">Numero di giorni di preavviso compleanno:</label>
					   	<div class="col-md-1">
					    	<input type="number" name="numeroGiorniCompleanno" id="numeroGiorniCompleanno" ng-model="numeroGiorniCompleanno" class="form-control" max="99" required/>
					    </div>
				    </div>
				
			    	<div class="col-md-8" style="text-align: center;">
			     		<button class="btn btn-success" type="submit" ng-click="save()" ng-disabled="impostazioniForm.emailScadenze.$invalid || impostazioniForm.numeroGiorni.$invalid || impostazioniForm.numeroGiorniCompleanno.$invalid">
			     			<i class="glyphicon glyphicon-floppy-disk"></i>
			     			Salva
			     		</button>
			     	</div>	
			</form>	
		</div>
	</div>
</div>
	
	