<div style="padding: 2px;">

	<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3>Attenzione</h3>
        </div>
        <div class="modal-body">
            {{body}}
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">
				<i class="glyphicon glyphicon-ok"></i>
				OK
			</button>
            <button class="btn btn-warning" ng-click="cancel()">
				<i class="glyphicon glyphicon-ban-circle"></i>
				Annulla
			</button>
        </div>
    </script>

	<div class="panel panel-primary" style="padding: 2px;">
		<div class="panel-heading" ng-show="paziente.id!=null">
			<h5>Scheda paziente: <b>{{paziente.nome}} {{paziente.cognome}}</b></h5> 
		</div>		
		<div class="panel-heading" ng-show="paziente.id==null">
			<h5>Nuova scheda paziente:</h5> 
		</div>		
		<div class="panel-body">
			<alert ng-show="alertOK!=''" type="success" close="alertOK=''" >{{alertOK}}</alert>		
			<alert ng-show="alertKO!=''" type="danger" close="alertKO=''" >{{alertKO}}</alert>		
			<form class="form-horizontal" role="form" name="pazienteForm" novalidate>
				<div ng-controller="AccordionCtrl">
					<accordion close-others="false">
					  	<accordion-group heading="Dati Anagrafici" is-open="isOpenDatiAnagrafici">
					      	<div class="form-group">
							   	<label for="nome" class="col-md-2 control-label">Nome</label>
							   	<div class="col-md-4">
							    	<input type="text" name="nome" id="nome" ng-model="paziente.nome" class="form-control" required/>
							    </div>
						    </div>
					      	<div class="form-group">
							   	<label for="cognome" class="col-md-2 control-label">Cognome</label>
							   	<div class="col-md-4">
							    	<input type="text" name="cognome" id="cognome" ng-model="paziente.cognome" class="form-control" required/>
							    </div>
						    </div>
					      	<div class="form-group">
							   	<label for="cf" class="col-md-2 control-label">Codice Fiscale</label>
							   	<div class="col-md-4">
							    	<input type="text" name="cf" id="cf" ng-model="paziente.cf" class="form-control" maxlength="16"/>
							    </div>
						    </div>
					      	<div class="form-group">
							   	<label for="comune_nascita" class="col-md-2 control-label">Comune di Nascita</label>
							   	<div class="col-md-4">
							    	<input type="text" name="comune_nascita" id="comune_nascita" ng-model="paziente.comune_nascita" class="form-control"/>
							    </div>
						    </div>
					      	<div class="form-group">
							   	<label for="data_nascita" class="col-md-2 control-label">Data di Nascita</label>
							   	<div class="col-md-4">
							    	<input type="date" name="data_nascita" id="data_nascita" ng-model="paziente.data_nascita" class="form-control"/>
							    </div>
						    </div>
					      	<div class="form-group">
							   	<label for="comune_residenza" class="col-md-2 control-label">Comune di Residenza</label>
							   	<div class="col-md-4">
							    	<input type="text" name="comune_residenza" id="comune_residenza" ng-model="paziente.comune_residenza" class="form-control"/>
							    </div>
						    </div>
					      	<div class="form-group">
							   	<label for="indirizzo_residenza" class="col-md-2 control-label">Indirizzo di Residenza</label>
							   	<div class="col-md-4">
							    	<input type="text" name="indirizzo_residenza" id="indirizzo_residenza" ng-model="paziente.indirizzo_residenza" class="form-control"/>
							    </div>
						    </div>
					      	<div class="form-group">
							   	<label for="medico_curante" class="col-md-2 control-label">Medico Curante</label>
							   	<div class="col-md-4">
							    	<input type="text" name="medico_curante" id="medico_curante" ng-model="paziente.medico_curante" class="form-control"/>
							    </div>
						    </div>
					      	<div class="form-group">
							   	<label for="esenzione_ticket" class="col-md-2 control-label">Esenzione Ticket</label>
							   	<div class="col-md-4">
							    	<input type="text" name="esenzione_ticket" id="esenzione_ticket" ng-model="paziente.esenzione_ticket" class="form-control"/>
							    </div>
						    </div><br/>
						    <div class="row">
						    	<div class="col-md-8">
						     		<a class="btn btn-primary" href="#/pazienti">
						     			<i class="glyphicon glyphicon-arrow-left"></i>
						     			Indietro
						     		</a>
						     		<button class="btn btn-success" type="submit" ng-click="save()" ng-disabled="pazienteForm.nome.$invalid || pazienteForm.cognome.$invalid">
						     			<i class="glyphicon glyphicon-floppy-disk"></i>
						     			Salva
						     		</button>
						     		<button class="btn btn-danger" ng-show="paziente.id!=null && !paziente.disabilitato" ng-click="open()" >
						     			<i class="glyphicon glyphicon-trash"></i>
						     			Disabilita
						     		</button>
						     		<button type="button" class="btn btn-primary" ng-click="riabilita()" ng-show="paziente.id!=null && paziente.disabilitato">
						     			<i class="glyphicon glyphicon-play"></i> 
						     			Riabilita
						     		</button>
						     	</div>	
						    </div>
						</accordion-group>
						<accordion-group heading="Scadenze Farmaci" is-open="isOpenScadenze" ng-show="paziente.id!=null">
							<div class="table-responsive">
						 	  	<table class="table table-hover table-striped table-bordered" ng-table="tableParams">
							    	<tr ng-repeat="scadenza in $data | filter:query">
								      	<td data-title="'Farmaco'" sortable="'farmaco'">
								      		<a ng-href="#farmaci/{{scadenza.farmaco_id}}">{{scadenza.farmaco}}</a>
								      	</td>
								      	<td data-title="'Giorni rimantenti'" sortable="'giorni_rimanenti'">
								      		<span ng-show="scadenza.giorni_rimanenti>0">
								      			{{scadenza.giorni_rimanenti}} giorni rimanenti
								      		</span>
								      		<span ng-show="scadenza.giorni_rimanenti<=0">
								      			nessun giorno rimanente
								      		</span>
								      	</td>
								      	<td data-title="'Stato'">
								      		<span ng-show="scadenza.giorni_rimanenti>numeroGiorni" class="label label-primary">
								      			OK
								      		</span>
								      		<span ng-show="scadenza.giorni_rimanenti>0 && scadenza.giorni_rimanenti<=numeroGiorni" class="label label-warning">
								      			IN SCADENZA
								      		</span>
								      		<span ng-show="scadenza.giorni_rimanenti<=0" class="label label-danger">
								      			SCADUTE
								      		</span>
								      	</td>
							    	</tr>
						      	</table>
					      	</div>
					      	<div class="panel-footer" align="center">
						    	<a class="btn btn-warning" ng-href="reports/{{paziente.id}}/scadenze.csv" >
						    		<i class="glyphicon glyphicon-export"></i> CSV
						    	</a>
						    	<a class="btn btn-success" ng-href="reports/{{paziente.id}}scadenze.xls" >
						    		<i class="glyphicon glyphicon-export"></i> Excel
						    	</a>
						    	<a class="btn btn-danger" ng-href="reports/{{paziente.id}}scadenze.pdf" >
						    		<i class="glyphicon glyphicon-export"></i> PDF
						    	</a>
						    </div>
						</accordion-group>    
					</accordion>
				</div>
			</form>	
		</div>
	</div>
</div>
	
	