<div style="padding: 2px;">

	<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3>Attenzione</h3>
        </div>
        <div class="modal-body">
            {{body}}
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">
				<i class="glyphicon glyphicon-ok"></i>
				OK
			</button>
            <button class="btn btn-warning" ng-click="cancel()">
				<i class="glyphicon glyphicon-ban-circle"></i>
				Annulla
			</button>
        </div>
    </script>

	<div class="panel panel-primary" style="padding: 2px;">
		<div class="panel-heading">
			<a href="#/pazienti/new" class="btn btn-success" ><i class="glyphicon glyphicon-plus"></i> Carica nuova scheda paziente</a>
			<div class="btn-group" dropdown>
				<button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
		        	<span ng-show="!selectedStato">Stato</span> 
		        	<span ng-show="selectedStato">{{selectedStato}}</span> 
		        	<span class="caret"></span>
		        </button>
		        <ul class="dropdown-menu">
		        	<li><a ng-click="cercaStato('PRESENTE')" href="javascript:void(0)">PRESENTE</a></li>	  
		        	<li><a ng-click="cercaStato('ASSENTE')" href="javascript:void(0)">ASSENTE</a></li>	  
		          	<li class="divider"></li>   
		          	<li><a ng-click="cercaStato('')" href="javascript:void(0)">TUTTI</a></li>	     
		        </ul>
		    </div>
		</div>
	 	<div class="panel-body">
	 		<div class="table-responsive">
		 	  	<table class="table table-hover table-striped table-bordered" ng-table="tableParams">
			    	<tr ng-repeat="paziente in $data | filter:query | filter:selectedStato">
				      	<td data-title="'Nome'" sortable="'nome'">{{paziente.nome}}</td>
				      	<td data-title="'Cognome'" sortable="'cognome'">{{paziente.cognome}}</td>
				      	<td data-title="'Data di nascita'" sortable="'data_nascita'">{{paziente.data_nascita}} <span ng-show="paziente.comune_nascita!=null">a {{paziente.comune_nascita}}</span></td>
				      	<td data-title="'Medico curante'" sortable="'medico_curante'">{{paziente.medico_curante}}</td>
				      	<td data-title="'Stato'" sortable="'stato'">
				      		<span ng-show="!paziente.disabilitato" class="label label-success">
				      			{{paziente.stato}}
				      		</span>
				      		<span ng-show="paziente.disabilitato" class="label label-danger">
				      			{{paziente.stato}}
				      		</span>
				      	</td>
				      	<td data-title="''" class="text-center">
				      		<button type="button" class="btn btn-warning" ng-click="dettaglio(paziente.id)"><i class="glyphicon glyphicon-floppy-disk"></i> Modifica</button>
				      		<button type="button" class="btn btn-danger" ng-click="disabilita(paziente.id)" ng-show="!paziente.disabilitato"><i class="glyphicon glyphicon-trash"></i> Disabilita</button>
				      		<button type="button" class="btn btn-primary" ng-click="riabilita(paziente.id)" ng-show="paziente.disabilitato"><i class="glyphicon glyphicon-play"></i> Riabilita</button>
				      	</td>
			    	</tr>
		      	</table>
	      	</div>
	    </div>
	    <div class="panel-footer" align="center">
	    	<a class="btn btn-warning" ng-href="pazienti.csv" >
	    		<i class="glyphicon glyphicon-export"></i> CSV
	    	</a>
	    	<a class="btn btn-success" ng-href="pazienti.xls" >
	    		<i class="glyphicon glyphicon-export"></i> Excel
	    	</a>
	    	<a class="btn btn-danger" ng-href="pazienti.pdf" >
	    		<i class="glyphicon glyphicon-export"></i> PDF
	    	</a>
	    </div>
	</div>
</div>