<div style="padding: 2px;">

	<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3>Attenzione</h3>
        </div>
        <div class="modal-body">
            {{body}}
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">
				<i class="glyphicon glyphicon-ok"></i>
				OK
			</button>
            <button class="btn btn-warning" ng-click="cancel()">
				<i class="glyphicon glyphicon-ban-circle"></i>
				Annulla
			</button>
        </div>
    </script>

	<div class="panel panel-primary" style="padding: 2px;">
		<div class="panel-heading">
			<a href="#/somministrazioni/new" class="btn btn-success" ><i class="glyphicon glyphicon-plus"></i> Carica nuova somministrazione</a>
		</div>
	 	<div class="panel-body">
	 		<div class="table-responsive">
		 	  	<table class="table table-hover table-striped table-bordered" ng-table="tableParams">
			    	<tr ng-repeat="somministrazione in $data | filter:query">
				      	<td data-title="'Data'" sortable="'data_inserimento'" class="text-center">{{somministrazione.data_inserimento_string}}</td>
				      	<td data-title="'Farmaco'" sortable="'farmaco'">{{somministrazione.farmaco}}</td>
				      	<td data-title="'Paziente'" sortable="'paziente'">{{somministrazione.paziente}}</td>
				      	<td data-title="'Quantit&agrave; giornaliera'" sortable="'quantita'" class="text-right">{{somministrazione.quantita}}</td>
				      	<td data-title="''" class="text-center">
				      		<button type="button" class="btn btn-warning" ng-click="dettaglio(somministrazione.id)"><i class="glyphicon glyphicon-floppy-disk"></i> Modifica</button>
				      		<button type="button" class="btn btn-danger" ng-click="cancella(somministrazione.id)"><i class="glyphicon glyphicon-trash"></i> Cancella</button>
				      	</td>
			    	</tr>
		      	</table>
	      	</div>
	    </div>
	    <div class="panel-footer" align="center">
	    	<a class="btn btn-warning" ng-href="somministrazioni.csv" >
	    		<i class="glyphicon glyphicon-export"></i> CSV
	    	</a>
	    	<a class="btn btn-success" ng-href="somministrazioni.xls" >
	    		<i class="glyphicon glyphicon-export"></i> Excel
	    	</a>
	    	<a class="btn btn-danger" ng-href="somministrazioni.pdf" >
	    		<i class="glyphicon glyphicon-export"></i> PDF
	    	</a>
	    </div>
	</div>
</div>